@media screen and (min-width: 1024px) {
    div.text-page {
        margin-left: 2em;
    }
}

div.text-page {
    flex-flow: column;
}

div.coming-soon {
    display: flex;
    flex-flow: column;
}

div.coming-soon img {
    margin-top: 1em;
    max-width: 100%;
    border-radius: 5px;
}

div.coming-soon > div {
    display: flex;
    align-items: center;
    justify-content: center;
}