@media screen and (min-width: 1024px) {
    div.text-page {
        margin-left: 2em;
    }

    div.coming-soon img {
        max-width: 50vw;
    }
}

@media screen and (max-width: 1024px) {
    div.coming-soon img {
        max-width: 100%;
    }
}

div.text-page {
    flex-flow: column;
}

div.coming-soon {
    display: flex;
    flex-flow: column;
}

div.coming-soon img {
    margin-top: 1em;
    border-radius: 5px;
}

div.coming-soon > div {
    display: flex;
    align-items: center;
    justify-content: center;
}