div.cupcake {
    display: flex;
    flex-flow: column;
}

div.cupcake > h2 {
    text-align: center;
}

div.cupcake > div {
    display: flex;
    flex-flow: row;
}

div.cupcake > div > section {
    display: flex;
    margin: 1em;
}