@media screen and (min-width: 1024px) {
    div.cupcake-details {
        flex-flow: row;
    }

    div.cupcake-details img,
    div.carousel-container {
        max-width: 50vw;
    }
}

@media screen and (max-width: 1024px) {
    div.cupcake-details {
        flex-flow: column;
    }

    div.cupcake-details img,
    div.carousel-container {
        max-width: 80vw;
    }
}

div.cupcake {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

div.cupcake > h2 {
    text-align: center;
}

div.cupcake > div > section {
    display: flex;
    margin: 1em;
}

div.cupcake-details {
    display: flex;
}

div.cupcake > div.cupcake-nav {
    margin: 0.5em;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

div.cupcake > div.cupcake-nav > h2 {
    text-align: center;
    /* width: 100%; */
}

div.cupcake > div.cupcake-nav > * {
    margin: 0em;
}

section.cupcake-detail {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}