div.home {
    display: flex;
    flex-flow: column;
    align-items: center;
}

div.home > div.carousel-container {
    display: flex;
    width: 90%;
    max-width: 90vw;
}

div.home > div.mobile-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 100vw;
    padding: -0.5em;
}

div.home p {
    text-align: center;
}

div.home > div.mobile-container img {
    border-radius: 1em;
    box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
}

div.home > div.mobile-container p {
    text-align: center;
}

div.home > div img {
    max-width: 100%;
}

.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}

.carousel .slide img {
    max-height: 60vh;
    width: auto;
    border-radius: 5px;
}

.carousel .carousel-status {
    display: none;
}

.carousel .control-dots {
    display: none;
}

.carousel li.slide,
.carousel li.slide > div {
    background: transparent;
}