@media screen and (max-width: 1024px) {
    .carousel .thumbs-wrapper {
        display: none;
    }

    div.home:first-child {
        margin-top: 2em;
    }
}

div.home {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

div.home > div.carousel-container {
    display: flex;
    width: 90%;
    max-width: 90vw;
}

div.home > div.carousel-container img {
    max-width: 100%;
}

.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}

.carousel .slide img {
    max-height: 60vh;
    width: auto;
    border-radius: 5px;
}

.carousel .carousel-status {
    display: none;
}

.carousel .control-dots {
    display: none;
}

.carousel li.slide,
.carousel li.slide > div {
    background: transparent;
}