
div.cart-item {
    display: flex;
    flex-flow: row;
    border: 1px solid;
    border-radius: 5px;
    margin: 0.5em;
}

div.cart-item > div:not(.item-details) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

div.cart-item .img-container {
    max-width: 25vw;
}

div.cart-item img {
    display: block;
    width: 100%;
    height: auto;
}

div.cart-item .item-details {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

div.cart-item .item-details > p {
    margin: 0.25em
}

div.cart-actions .cart-remove {
    cursor: pointer;
}

div.cart-actions > div {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}