@media screen and (max-width: 1024px) {
    div.cupcake-conf > form > button {
        align-self: center;
    }
}

div.cupcake-conf {
    display: flex;
    flex-grow: 1;
}

div.cupcake-conf > form {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    align-content: center;
}

div.cupcake-conf > form > * {
    margin: 0.5em;
}

div.cupcake-conf > form > *:not(.large) {
    max-width: 20em;
}

div.cupcake-conf > form > .large {
    max-width: 40em;
}

div.cupcake-conf div.flavours {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}

div.cupcake-conf div.amount > label {
    margin-left: 1em;
}

div.cupcake-conf span {
    font-size: 0.9rem;
}

div.cupcake-conf textarea {
    width: 100%;
    min-height: 4em;
}
