div.submit-cart {
    display: flex;
    flex-flow: column;
}

div.submit-cart > * {
    margin: 1em;
}

div.submit-cart > label {
    margin-left: 0;
    margin-bottom: 0.75em;
}

div.submit-cart > button {
    margin-top: 2em;
}