
div.up-button.layout {
    pointer-events: none;
    z-index: -1;
}

div.up-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.up-button:hover {
    text-decoration: underline;
}
