@media screen and (min-width: 1024px) {
    div.banner {
        width: 100%;
        height: 10em;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
    }

    div.banner h1 {
        margin: 0em;
    }

    div.banner > div {
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 1em;
    }

    div.banner img {
        max-height: 80%;
        align-self: center;
        /* background-color: white; */
    }
}

@media screen and (max-width: 1024px) {
    div.banner {
        display: flex;
        justify-content: space-between;
    }
    
    div.banner > div {
        display: flex;
    }

    div.banner h1 {
        font-size: 1em;
        align-self: center;
    }

    div.banner div.nav-drawer {
        position: fixed;
        display: flex;
        flex-flow: column;
        width: 70vw;
        height: 100vh;
        transition: all 0.5s ease;
        z-index: 5;
    }

    div.banner > div.navigation > a {
        border-bottom: 1px solid #ffffff;
        padding-bottom: 0.5em;
    }

    div.banner div.nav-drawer.open {
        border-right: 1px solid;
    }

    div.banner div.nav-drawer.closed {
        transform: translate(-70vw);
    }

    div.banner span.burger-menu {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        width: 3em;
        height: 3em;
    }

    div.banner span.burger-menu > span.burgoin {
        width: 60%;
        height: 0.1em;
        background-color: black;
        border-radius: 10px;
    }

    div.banner > .cart-shortcut {
        margin-right: 0.5em;
    }
}

div.banner > div.navigation > a.active {
    /* text-decoration: underline; */
    font-weight: bold;
}

div.banner > div.navigation > a {
    text-decoration: none;
    color: black;
    margin: 0.5em;
}

div.banner > div.navigation > a::before {
    content: "🧁 "
}

div.banner > div.navigation > a:hover {
    text-decoration: underline;
}

div.banner {
    display: flex;
    border-bottom: 1px solid;
}

div.banner h1 {
    text-align: center;
}

div.banner > img {
    height: 100%;
}
